@tailwind base;
@tailwind components;
@tailwind utilities;
@custom-variant dark (&:where(.dark, .dark *));

.sidebar {
  top:0;
  overflow-y:visible;
  left: 0;
  position:relative;
  z-index: auto;
  background-color: black;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .input-password{
    color: darkred;
  }
}
