@tailwind base;
@tailwind components;
@tailwind utilities;
@custom-variant dark (&:where(.dark, .dark *));

.sidebar{
  top:0;
  overflow-y: auto;
  left: 0;
  position:relative;
  z-index: 1000;
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .input-password{
    color: darkred;
  }
}
