.calendar-container {
    width: 100vw; /* 100% del ancho de la ventana */
    height: 100vh; /* 100% del alto de la ventana */
    margin: 0 auto; /* Centrar el calendario */
    position: relative;
    z-index: 0;
    transform: translateZ(-1px);
    padding-bottom: 6rem;
  }

  .select-edit{
    background: transparent;
  }
  
  .custom-event {
    font-size: 0.8rem; /* Reduce el tamaño de la letra */
    line-height: 1.2; /* Espaciado entre líneas */
    padding: 2px; /* Espaciado dentro del evento */
  }
  
  .event-details {
    font-size: 0.7rem; /* Tamaño aún más pequeño para detalles */
    color: #555; /* Color gris suave */
  }
  
  .fc-event {
    border-radius: 5px; /* Bordes redondeados */
    padding: 4px;
  }
  .fc-timegrid-axis-frame{
    color: white;
    text-align: center;
  }
  
  .fc-timegrid-slot-label {
    text-align: center;
    color: white;
    font-size: 12px; /* Etiquetas de hora más pequeñas */

  }

  .fc-timegrid-slot {
    height: 51px !important; /* Ajusta la altura de las ranuras */
  }


  .custom-event-content {
    color: white; /* Color del texto */   

  }

  .custom-hour{
    text-align: center;
    font-size: 8px;
    color: white;
    padding: 2rem;
  }
  .custom-title{
    font-size: 10px;
  }
  
  .rs-picker-popup {
    z-index: 1100 !important; /* 🔹 Mayor que el modal */
    
  }

  .fc-header-toolbar {
  color: white !important;
  padding: 1rem;
  border-radius: 8px;
  margin: 0.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

select{
  background: transparent;
}

option{
  background: #302b63;
}

TimePicker{
  background: black;
}

input{
  background: transparent;
  border-color: blue;
}